.accordion__box {
  @include vp-767 {
    position: relative;
  }
}

.accordion__label {
  @include vp-767 {
    position: relative;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.accordion__label::after {
  @include vp-767 {
    content: "";
    position: absolute;
    top: 20px;
    right: 26px;
    width: 15px;
    height: 15px;
    background:
      linear-gradient($color-bg, $color-bg),
      linear-gradient($color-bg, $color-bg);
    background-position: center;
    background-size: 100% 1px, 1px 100%;
    background-repeat: no-repeat;
  }
}

.accordion__label:hover::after,
.accordion__label:focus::after {
  opacity: 0.7;
}

.accordion__box.active .accordion__label::after {
  @include vp-767 {
    content: "";
    position: absolute;
    top: 27px;
    right: 26px;
    width: 15px;
    height: 1px;
    background-color: $color-bg;
  }
}

.accordion__content {
  @include vp-767 {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }
}
