.accordion__box {
  @include vp-767 {
    position: relative;
  }
}

.accordion__label {
  @include vp-767 {
    position: relative;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.accordion__label::after {
  @include vp-767 {
    content: "+";
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
  }
}

.accordion__box.active .accordion__label::after {
  @include vp-767 {
    content: "\2014";
  }
}

.accordion__content {
  @include vp-767 {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }
}
