.agreement__control {
  position: relative;
  display: flex;
  padding-top: 18px;

  @include vp-1023 {
    padding-top: 13px;
  }

  @include vp-767 {
    padding-top: 5px;
  }
}

.agreement__input {
  padding: 0;
  opacity: 0;
  outline: 0;
}

.agreement__mark {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px $color-default-white solid;
  border-radius: 2px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-1023 {
    top: 47%;
    left: 0;
  }

  @include vp-767 {
    top: 31%;
    left: 5px;
  }
}

.agreement__label {
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  opacity: 0.8;
  margin-left: 23px;
  //margin-top: 18px;

  @include vp-1023 {
    margin-left: 12px;
    //margin-top: 13px;
  }

  @include vp-767 {
    margin-left: 17px;
    //margin-top: 5px;
  }
}

.agreement__input:hover ~ .agreement__mark,
.agreement__input:focus ~ .agreement__mark {
  border: 2px solid $color-dark;
  outline: 0;
}

.agreement__input:checked + .agreement__mark::before,
.agreement__input:checked + .agreement__mark::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 2px;
  width: 7px;
  height: 4px;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}
