.agreement__control {
  position: relative;
  display: flex;
}

.agreement__input {
  padding: 0;
  opacity: 0;
  outline: 0;
}

.agreement__mark {
  position: absolute;
  content: "";
  top: 45%;
  left: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px $color-default-white solid;
  border-radius: 2px;
}

.agreement__label {
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  opacity: 0.8;
  margin-left: 20px;
  padding-top: 10px;
}

.agreement__input:checked + .agreement__mark::before,
.agreement__input:checked + .agreement__mark::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 2px;
  width: 7px;
  height: 4px;
  background-image: url("../../img/checkbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}
