.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 30px;

  @media (max-width: 1023.9px) {
    gap: 24px;
  }

  @media (max-width: 767.9px) {
    display: initial;
  }
}

.benefits__item {
  padding: 40px 43px 68px 40px;
  border: $color-grey 1px solid;
  border-left: $color-blue 5px solid;
  margin-left: 1px;

  @media (max-width: 1023.9px) {
    padding: 40px 30px 35px 40px;
  }

  @media (max-width: 767.9px) {
    padding: 30px 30px 35px 25px;
    margin-left: 5px;
  }
}

.benefits__item + .benefits__item {
  @media (max-width: 767.9px) {
    margin-top: 30px;
  }
}

.benefits__item svg {
  fill: $color-blue;
  margin-bottom: 12px;

  @media (max-width: 1023.9px) {
    margin-bottom: 8px;
  }

  @media (max-width: 767.9px) {
    width: 30px;
    height: 30px;
  }
}

.benefits__item:nth-child(n+3) svg,
.benefits__item:nth-child(n+3) .benefits__item-title {
  @media (max-width: 767.9px) {
    margin-bottom: 12px;
  }
}

.benefits__item:nth-child(n+4) svg,
.benefits__item:nth-child(n+4) .benefits__item-title {
  @media (max-width: 1023.9px) {
    margin-bottom: 5px;
  }

  @media (max-width: 767.9px) {
    margin-bottom: 12px;
  }
}

.benefits__item:nth-child(n+3) {
  padding-bottom: 92px;

  @media (max-width: 1023.9px) {
    padding-bottom: 72px;
  }

  @media (max-width: 767.9px) {
    min-height: 325px;
    padding-bottom: 0;
  }
}

.benefits__item:nth-child(-n+2) {
  @media (max-width: 767.9px) {
    min-height: 340px;
  }
}

.benefits__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 34px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  color: $color-blue;
  position: relative;

  @media (max-width: 1023.9px) {
    margin-bottom: 8px;
  }

  @media (max-width: 767.9px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.benefits__item-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-dark;

  @media (max-width: 767.9px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.benefits__item-description br {
  display: none;

  @media (max-width: 1023.9px) {
    display: inline-block;
  }
}

.benefits__item:hover {
  background-color: $color-blue;
}

.benefits__item:hover svg {
  fill: $color-light;
}

.benefits__item:hover .benefits__item-title {
  color: $color-light;
}

.benefits__item:hover .benefits__item-description {
  color: $color-light;
}
