.contacts {
  margin: 0;
  padding: 0;
  border: none;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__answer {
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  flex-grow: 1;
  outline: none;
  width: 275px;
}

.contacts__answer::placeholder {
  color: $color-default-white;
}
