.custom-input,
.custom-textarea {
  input,
  textarea {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
