.feedback {
  background-color: $color-blue-feedback;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    background-color: rgba(4, 24, 39, 0.5);
    clip-path: polygon(0 0, 0 100%, 100% 0);

    @media (max-width: 1023.9px) {
      display: none;
    }
  }
}

.feedback .container {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% - 740px);
    height: 50%;
    top: 242px;
    left: 15px;
    background-image: url("../img/paper_airplane.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/paper_airplane@2x.webp");
    }

    @media (max-width: 1279.9px) {
      top: 250px;
      left: 60px;
    }

    @media (max-width: 1150px) {
      top: 285px;
      left: 110px;
    }

    @media (max-width: 1105px) {
      top: 300px;
      left: 150px;
    }

    @media (max-width: 1023.9px) {
      display: none;
    }
  }
}

.feedback__wrapper {
  padding-left: calc(40% + 142px);
  padding-top: 164px;
  padding-bottom: 248px;
  padding-right: 10px;

  @media (max-width: 1439.9px) {
    padding-right: 50px;
  }

  @media (max-width: 1023.9px) {
    padding: 45px 0 125px;
  }

  @media (max-width: 767.9px) {
    padding-top: 48px;
    padding-bottom: 88px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  align-items: start;
}

.feedback__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 51px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  margin-bottom: 10px;
  margin-left: -5px;

  @media (max-width: 1023.9px) {
    margin-bottom: 7px;
    margin-left: initial;
  }

  @media (max-width: 767.9px) {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  margin-bottom: 33px;

  @media (max-width: 1279.9px) {
    margin-bottom: 25px;
  }

  @media (max-width: 767.9px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 34px;
  }
}

.feedback__title br {
  display: none;

  @media (max-width: 767.9px) {
    display: inline;
  }
}
