.header-contacts {
  width: 100%;
  max-width: 480px;
}

.header-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 225px 225px;
  column-gap: 6%;
  row-gap: 15px;
  margin-top: -5px;

  @media (max-width: 1023.9px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -15px;
    gap: 0;
  }

  @media (max-width: 767.9px) {
    margin-top: -5px;
    margin-left: -9px;
  }
}

.header-contacts__item {
  display: flex;

  @media (max-width: 1023.9px) {
    padding: 24px 20px;
  }
}

.header-contacts__email,
.header-contacts__phone {
  display: flex;
}

.header-contacts__email:hover .header-contacts__text,
.header-contacts__phone:hover .header-contacts__text {
  color: $color-blue;
  opacity: 0.7;
}

.header-contacts__email:focus .header-contacts__text,
.header-contacts__phone:focus .header-contacts__text {
  color: $color-blue;
  opacity: 0.7;
}

.header-contacts__email:hover svg,
.header-contacts__phone:hover svg {
  opacity: 0.7;
}

.header-contacts__email:focus svg,
.header-contacts__phone:focus svg {
  opacity: 0.7;
}

.header-contacts__text {
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-light;
  margin: 0;
  padding: 0;
  margin-left: 15px;

  @media (max-width: 1023.9px) {
    display: none;
  }
}
