.header-contacts {
  width: 100%;
  max-width: 480px;
}

.header-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;

  @include vp-1023 {
    justify-content: flex-end;
  }
}

.header-contacts__item {
  display: flex;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 30px;

  @include vp-1023 {
    margin-left: 20px;
  }
}

.header-contacts__email,
.header-contacts__phone {
  display: flex;
}

.header-contacts__text {
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-light;
  margin: 0;
  padding: 0;
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}
