.main-header {
  background: linear-gradient($color-dark, 95%, $color-dark-transparent);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  min-width: 320px;
  min-height: 120px;

  @media (max-width: 1023.9px) {
    position: relative;
    min-height: 100px;
  }

  @media (max-width: 767.9px) {
    min-height: 70px;
  }
}

.main-header__logo {
  @media (max-width: 1023.9px) {
    margin-right: auto;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 35px 20px;

  @media (max-width: 1439.9px) {
    padding: 30px 60px 35px 30px;
  }

  @media (max-width: 1023.9px) {
    padding: 20px 60px 25px 50px;
  }

  @media (max-width: 767.9px) {
    padding: 15px 25px 20px 26px;
  }
}

.main-header__button {
  max-width: 165px;
  color: $color-light;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-dark;
  border: 1px $color-light solid;
  padding: 10px 19px;
  border-radius: 3px;
  user-select: none;
  margin-top: -7px;

  &:hover,
  &:focus-visible {
    color: $color-blue;
    border: 1px $color-blue solid;
  }

  @media (max-width: 1023.9px) {
    display: none;
  }
}
