.main-container__wrapper {
  padding-top: 305px;
  padding-bottom: 280px;
  position: relative;
  width: 100%;
  min-height: 880px;
  background-image:
    linear-gradient(to bottom, rgba(25, 32, 36, 0.7), rgba(25, 32, 36, 0)),
    url("../../img/background-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: $color-dark;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(25, 32, 36, 0.7), rgba(25, 32, 36, 0)),
      url("../../img/background-image@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 205px;
    min-height: 640px;
  }

  @include vp-767 {
    padding-top: 150px;
    padding-bottom: 190px;
    min-height: 560px;
  }
}

.main-container__inner-wrapper {
  margin: 0 auto;
  padding-left: 125px;

  @include vp-1023 {
    padding-left: 50px;
  }

  @include vp-767 {
    padding-left: 26px;
  }
}

.main-container__title {
  margin: 0;
  padding: 0;
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
  }
}

.main-container__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-light;
  margin-bottom: 40px;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.main-container__text br {
  @include vp-767 {
    display: none;
  }
}

.main-container__button {
  color: $color-light;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-blue;
  border: none;
  padding: 15px 37px;
  border-radius: 3px;
	user-select: none;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
  }
}

.main-container__button--short {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.main-container__button--long {
  @include vp-767 {
    display: none;
  }
}

.main-container__benefits {
  padding: 120px 0;

  @include vp-1023 {
    padding: 80px 0;
  }

  @include vp-767 {
    padding: 50px 0;
  }
}
