.main-footer {
  flex-shrink: 0;
  background-color: $color-dark;
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 65px;

  @media (max-width: 1439.9px) {
    padding-left: 40px;
  }

  @media (max-width: 1023.9px) {
    padding: 50px 45px 65px 50px;
    flex-direction: column;
    align-items: initial;
  }

  @media (max-width: 767.9px) {
    padding: 35px 0;
  }
}

.main-footer__first-wrapper {
  @media (max-width: 1439.9px) {
    margin-right: 80px;
  }

  @media (max-width: 1023.9px) {
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 767.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
    margin-left: 10px;
  }
}

.main-footer__second-wrapper {
  width: 100%;
  max-width: 845px;
  display: flex;
  margin-top: 8px;

  @media (max-width: 1023.9px) {
    margin-top: 2px;
    justify-content: space-between;
  }

  @media (max-width: 767.9px) {
    flex-direction: column;
  }
}

.main-footer__logo {
  margin-bottom: 30px;

  @media (max-width: 1023.9px) {
    margin-bottom: 35px;
  }

  @media (max-width: 767.9px) {
    margin-bottom: 15px;
  }
}

.main-footer__navigation {
  @media (max-width: 767.9px) {
    margin-right: 0;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.main-footer__contacts {
  margin-left: 156px;

  @media (max-width: 1023.9px) {
    margin-left: 130px;
  }

  @media (max-width: 767.9px) {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    margin-left: 0;
  }
}
