.main-header {
  background: linear-gradient($color-dark, 95%, $color-dark-transparent);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 35px 0;

  @include vp-1439 {
    padding: 30px 60px 35px 30px;
  }

  @include vp-767 {
    padding: 20px 70px 25px 50px;
  }
}

.main-header__button {
  color: $color-light;
  font-size: 14px;
  line-height: 17px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-dark;
  border: 1px $color-light solid;
  padding: 10px 15px;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
