.main-container__wrapper {
  padding-top: 305px;
  padding-bottom: 280px;
  position: relative;
  width: 100%;
  min-height: 880px;
  background-image: url("../img/background-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: $color-dark;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-image@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 205px;
    min-height: 640px;
    background-position: 19.5%;
  }

  @include vp-767 {
    padding-top: 150px;
    padding-bottom: 190px;
    min-height: 560px;
    background-position: 25.5%;
  }
}

.main-container__inner-wrapper {
  margin: 0 auto;
  padding-left: 145px;

  @include vp-1023 {
    padding-left: 50px;
  }

  @include vp-767 {
    padding-left: 25px;
  }
}

.main-container__title {
  margin: 0;
  padding: 0;
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;
  margin-bottom: 32px;
  letter-spacing: 5.7px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
    letter-spacing: 4.5px;
  }

  @include vp-767 {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2.5px;
  }
}

.main-container__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-light;
  margin-bottom: 48px;

  @include vp-1023 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 53px;
  }
}

.main-container__text br {
  @include vp-767 {
    display: none;
  }
}

.main-container__button {
  color: $color-light;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  background-color: $color-blue;
  border: none;
  padding: 15px 27px;
  border-radius: 3px;
  user-select: none;

  &:hover,
  &:focus {
    color: $color-blue;
    background-color: $color-light;
  }

  @include vp-1023 {
    margin-left: 45px;
    padding: 16px 27px;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.7px;
    padding: 11px 37px;
  }
}

.main-container__button--short {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.main-container__button--long {
  @include vp-767 {
    display: none;
  }
}

.main-container__benefits {
  padding: 120px 0;

  @include vp-1023 {
    padding: 80px 0 76px 0;
    margin-left: -5px;
  }

  @include vp-767 {
    padding: 50px 0 22px 0;
  }
}

.main-container__about {
  padding-bottom: 100px;

  @include vp-1023 {
    padding-bottom: 80px;
    margin-left: -5px;
  }

  @include vp-767 {
    padding-bottom: 0;
  }
}
