.navigation__title {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: $color-default-white;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (max-width: 1023.9px) {
    margin-bottom: 22px;
  }

  @media (max-width: 767.9px) {
    padding-left: 25px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 3%;

  @media (max-width: 1023.9px) {
    column-count: 1;
  }

  @media (max-width: 767.9px) {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
}

.navigation__item {
  max-width: 248px;
}

.navigation__item--first-column {
  break-before: avoid;
}

.navigation__link span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  opacity: 0.7;

  @media (max-width: 767.9px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.navigation__link:hover span,
.navigation__link:focus span {
  color: $color-blue;
  opacity: 0.7;
}

.navigation__item + .navigation__item {
  margin-top: 6px;

  @media (max-width: 1023.9px) {
    margin-top: 5px;
  }

  @media (max-width: 767.9px) {
    margin-top: 5px;
  }
}

.navigation__item:last-child {
  padding-bottom: 18px;
}
