.office-contacts__title {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: $color-default-white;
  text-transform: uppercase;
  margin-bottom: 24px;

  @media (max-width: 1023.9px) {
    margin-bottom: 23px;
  }

  @media (max-width: 767.9px) {
    padding-left: 24px;
  }
}

.office-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: 767.9px) {
    margin-top: -2px;
    padding-left: 25px;
  }
}

.office-contacts__item,
.office-contacts__item span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21.6px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  color: $color-default-white;
  opacity: 0.7;

  @media (max-width: 767.9px) {
    font-size: 14px;
    line-height: 18.9px;
  }
}

.office-contacts__item--adress {
  @media (max-width: 767.9px) {
    margin-bottom: 20px;
  }
}

.office-contacts__item--phone:hover span {
  &:hover {
    color: $color-blue;
  }
}

.office-contacts__item--phone {
  line-height: 25px;

  &:hover {
    color: $color-blue;
  }
}

.office-contacts__item + .office-contacts__item {
  margin-top: 5px;

  @media (max-width: 1023.9px) {
    margin-top: 6px;
  }

  @media (max-width: 767.9px) {
    margin-top: 0;
  }
}

.office-contacts__item--phone + .office-contacts__item--phone {
  @media (max-width: 767.9px) {
    margin-top: 11px;
  }
}

.office-contacts__item:last-child {
  padding-bottom: 18px;
}
