.social {
  margin-left: 10px;

  @include vp-767 {
    margin-left: -6px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.social__item + .social__item {
  margin-left: 15px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social__link svg {
  fill: $color-bg;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $color-blue;
}
