.social {
  margin-left: 10px;

  @media (max-width: 767.9px) {
    margin-left: -6px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  column-gap: 15px;
  row-gap: 10px;

  @media (max-width: 1023.9px) {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  @media (max-width: 767.9px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social__link svg {
  fill: $color-bg;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $color-blue;
}
