.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;

  // @include vp-1023 {
  //   max-width: 670px;
  // }

  // @include vp-767 {
  //   max-width: 270px;
  // }
}
