@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../../fonts/robotocondensedlight.woff2") format("woff2"),
    url("../../fonts/robotocondensedlight.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../../fonts/robotocondensedregular.woff2") format("woff2"),
    url("../../fonts/robotocondensedregular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../../fonts/robotocondensedbold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono"),
    url("../../fonts/ptmonoregular.woff2") format("woff2"),
    url("../../fonts/ptmonoregular.woff") format("woff");
}
